set default=moonshield-install
set timeout=5
set timeout_style=menu

if insmod all_video; then
    set gfxmode=auto
fi
if insmod gfxterm && loadfont /boot/grub/font.pf2; then
    terminal_output gfxterm
    if insmod gfxmenu; then
        set theme=/boot/grub/moonshield-theme.txt
    fi
fi

menuentry 'Instalar MoonShield' --id=moonshield-install {
    linux /install.amd/vmlinuz vga=788 auto=true priority=critical language=pt country=BR locale=pt_BR.UTF-8 keymap=br hostname=moonshield domain=local preseed/file=/cdrom/preseed.cfg preseed/interactive=false --- quiet
    initrd /install.amd/initrd.gz
}

menuentry 'Opções avançadas' --id=moonshield-advanced {
    linux /install.amd/vmlinuz vga=788 language=pt country=BR locale=pt_BR.UTF-8 keymap=br priority=low --- quiet
    initrd /install.amd/initrd.gz
}
